@model List<StaffDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Staff Name</th>
        <th>Staff Profession</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Profeesion</td>
            <td><a href="/Staff/RemoveStaff/@item.Id" class="btn btn-outline-danger mb-1 btn-rounded">Delete</a></td>
            <td><a href="/Staff/UpdateStaff/@item.Id" class="btn btn-outline-success mb-1 btn-rounded">Update</a></td>
            <td><a href="#" class="btn btn-outline-dark mb-1 btn-rounded">Detail</a></td>
        </tr>
    }
</table>

<a href="/Staff/AddStaff/" class="btn btn-info">New Staff</a>

