@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Testimonial Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Testimonial Profession</label>
    <input type="text" asp-for="Profession" class="form-control" />
    <br />

    <label>Testimonial Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label>Testimonial Image Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />

    <button class="btn btn-primary">Add Testimonial</button>
</form>



