
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Component.InvokeAsync("_HeadComponentPartial")


<body>

    <!--*******************
        Preloader start
    ********************-->
    @await Component.InvokeAsync("_LoaderComponentPartial")
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        @await Component.InvokeAsync("_NavHeaderComponentPartial")
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @await Component.InvokeAsync("_HeaderComponentPartial")
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Component.InvokeAsync("_SideBarComponentPartial")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                @RenderBody()

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @await Component.InvokeAsync("_FooterComponentPartial")
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    @await Component.InvokeAsync("_ScriptComponentPartial")

</body>

</html>


